@font-face {
  font-family: 'Fira Code';
  src: url('/fonts/fira-code.ttf') format('truetype');
  /* Add additional src lines for other font formats (e.g., woff, woff2) if available */
  /* src: url('/fonts/fira-code.woff') format('woff'),
     url('/fonts/fira-code.woff2') format('woff2'); */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Font Mono';
  src: url('/fonts/font-mono.ttf') format('truetype');
  /* Add additional font formats here if needed */
}